/* Initial Styling */

html,
body {
    text-align: center;
    height: 100%;
    color: #FAF9F6;
    font-family: 'Indie Flower', sans-serif !important;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: #333;
}

.title {
    font-size: 50px;
    margin-top: 20px;
}

/* Modal */
.modal {
    color: #333;
    text-align: left;
}

.modal-body {
    font-size: 18px;
}

.modal-body p {
    margin: 0;
}

.modal-footer {
    text-align: center;
    align-items: center;
}

.header {
    font-size: 24px;
}

/* Game Interface */

#gamespace {
    background-image: url('../images/default_background.png');
    background-color: #C9DAEA;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    max-width: 800px;
    max-height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    border-style: solid;
    border-width: 30px;
    border-color: #4881b6;
}

#gamespace img:hover {
    filter: brightness(80%);
}

#scorespace {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

#scorespace {
    display: flex; 
    justify-content: space-between;
}

.score-item {
    margin-right: 20px;
}

#gamespace-row {
    justify-content: center;
}

.score {
    font-size: 20px;
}

.game-buttons {
    text-align: center;
}

#petItIcon {
    position: absolute;
    top: 0;
    right: 0;
}

#brushItIcon {
    position: absolute;
    bottom: 0;
    right: 0;
}

#feedItIcon {
    position: absolute;
    bottom: 0;
    left: 0;
}

#playTimeIcon {
    position: absolute;
    top: 0;
    left: 0;
}

/* Hover styling for the buttons */
.game-icon:hover {
    background-color: #205081;
}

/* Extra Large Screen */
@media (max-width:3920px) {
    .btn-sq-responsive {
        width: 100px !important;
        max-width: 100% !important;
        max-height: 100% !important;
        height: 100px !important;
        font-size: 24px;
    }
}

/* Large Screen */
@media (max-width:991px) {
    .btn-sq-responsive {
        width: 100px !important;
        max-width: 100% !important;
        max-height: 100% !important;
        height: 100px !important;
        font-size: 18px;
    }
}

/* Medium Screen */
@media (max-width:767px) {
    .btn-sq-responsive {
        width: 100px !important;
        max-width: 100% !important;
        max-height: 100% !important;
        height: 100px !important;
        font-size: 12px;
    }
}

/* Small Screen */
@media (max-width:575px) {
    .btn-sq-responsive {
        width: 100px !important;
        max-width: 100% !important;
        max-height: 100% !important;
        height: 100px !important;
        font-size: 5px;
        padding: 0px;
        font-size: 7px;
    }
}

.btn-lg {
    padding: 10px 10px;
}

.btn {
    white-space: normal;
    font-size: 20px !important;
}

.button {
    width: 19vw;
}

.row {
    text-align: center
}

@media (max-width: 423px) {
    button {
        width: 81px;
    }
}

/* Progress Bar */
#myProgress {
    width: 33%;
    background-color: grey;
    position: absolute;
    left: 33%;
    bottom: 20px;
}

#myBar {
    width: 100%;
    height: 10px;
    background-color: #ffffff;
}

/* Screen orientation CSS */
@media (max-width:1000px) and (orientation: landscape) {
    .title {
        display: none;
    }
}

@media only screen and (max-width: 630px) and (orientation: portrait) {
    body {
        transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        transform-origin: left top;
        -ms-transform-origin: left top;
        -webkit-transform-origin: left top;
        overflow-x: hidden;
        width: 100vh;
        height: 100vw;
        position: fixed;
        top: 100%;
        left: 0;
    }
}